.sfxpc-field { 
	margin-top: 16px;
}
.sfxpc-field > .label { 
	width: 200px;
	display: inline-block;
	vertical-align: middle;
}
.sfxpc-field > .control{
	display: inline-block;
	vertical-align: middle;
}
.sfxpc-field > .wp-picker-container > .wp-color-result {
	margin: 0;
}
.sfxpc-field > .image-upload-path {
	width: 200px;
}
.sfxpc-metabox .sfxpc-field.layout > * {
	vertical-align: middle;
	display: inline-block;
}
.sfxpc-field > img {
	margin:5px
}
.sfxpc-field.layout br{
	display:none;
}
.sfxpc-field.layout img {
	border: 2px solid #ccc;
	width: 70px;
	height: auto;
	border-radius: 3px;
}
.sfxpc-field.wc-only {
    display: none;
}
.woo-commerce-active .sfxpc-field.wc-only {
    display: block;
}
.woo-commerce-active tr.sfxpc-field.wc-only {
    display: table-row;
}
.sfxpc-section {
  border: 1px solid #ccc;
  padding: 0 7px 16px;
}
/*
.sfxpc-sections-nav, .sfxpc-sections-nav li{
	margin:0;
	display: inline-block;
}
.sfxpc-sections-nav a.nav-tab{
	display:block;
	background: transparent;
}
.sfxpc-sections-nav .ui-tabs-active a{
	background: #fff;
}
*/
.sfxpc-sections-nav a:focus {
  color: #555;
  -webkit-box-shadow: none;
  box-shadow: none;
}